@font-face {
 font-family: "Lovelo";
 src: url("LoveloBlack.woff") format("woff");
}
body{
   font-size: 30px;
   font-family: "Lovelo", sans-serif;
}
p{
   font-size: 12px;
   font-family: "Open Sans", sans-serif;
}
.scroll_container{
   padding-bottom: 300px;
}
div#birds{

}
div#turtles{

}
div#dogs{

}
.center_column{
   margin: 0 auto;
   width: 75%;
}
